slack.token
env.json
golang_app_serverless

secrets.tfvars

*.zip
plan.out

terraform/.terraform
terraform.tfstate
terraform.tfstate.backup
terraform/.terraform.tfstate.lock.info

main

.idea/
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
